<form {{on "submit" this.addMaterial}}>
    <div>
        <label for="materialName">Name:</label>
        <input id="materialName" type="text" {{on "input" this.updateName}} />
    </div>
    <div>
        <label for="materialType">Type:</label>
        <select id="materialType" {{on "change" this.updateType}}>
            <option value="PLA">PLA</option>
            <option value="ABS">ABS</option>
            <option value="PETG">PETG</option>
        </select>
    </div>
    <div>
        <label for="materialColor">Color:</label>
        <input id="materialColor" type="text" {{on "input" this.updateColor}} />
    </div>
    <div>
        <label for="initialQuantity">Initial Quantity (grams):</label>
        <input id="initialQuantity" type="number" {{on "input" this.updateInitialQuantity}} />
    </div>
    <div>
        <label for="reorderThreshold">Reorder Threshold (grams):</label>
        <input id="reorderThreshold" type="number" {{on "input" this.updateReorderThreshold}} />
    </div>
    <button type="submit">Add Material</button>
</form>
